  button{
    color: #1e6b7b;
  background: aliceblue;
      font-size:2em;
  }
  h1{
    font-style:italic;
    text-align:center;
  }
  #picture{
    display:grid;
    grid-template-columns: 800px 1000px;
  }
  #content{
    font-size:19px;
    text-align:center;
  }
  #pig{
    padding-right:250px;
    padding-left:00px;
  }
  img{
    width: 300px;
    box-shadow: 5px 5px 10px grey;
  }
  #yeah{
   text-align:center;
  }
